<?
/* @var Testcase_News_Block_News $this */
$news = $this->getCurrentPageCollection();
$newsViewUrl = Mage::getUrl('news/index/view');
$showDate = Mage::helper('testcasenews/config')->isShowDateEnabled();
$maxPreviewLen = Mage::helper('testcasenews/config')->getPreviewTextMaxLength();

?>
<div class="row">
    <div class="col-lg-12">
        <h1 class="">News</h1>
        <?
        foreach ($news as $item):
            /* @var Testcase_News_Model_News $item */
            ?>
            <div class="news-item">
                <h2>
                    <a href="<?=$newsViewUrl;?>?id=<?=$item->getId();?>">
                        <?=$item->getTitle();?>
                    </a>
                </h2>
                <?if ($showDate):?>
                    <p>
                        <span class="glyphicon glyphicon-time"></span>
                        <span><?=$item->getData('date_created');?></span>
                    </p>
                <?endif;?>
                <p>
                    <?
                    $content = $item->getContent();
                    $contentLen = strlen($content);

                    if ($contentLen > $maxPreviewLen):
                        echo substr($content, 0, $maxPreviewLen)."...";
                    else:
                        echo $content;
                    endif;
                    ?>
                </p>
                <hr>
            </div>
            <?
        endforeach;
        ?>
        <?=$this->getPagerHtml();?>
    </div>
</div>
