<?

/* @var Testcase_News_Block_View $this */
/* @var Testcase_News_Model_News $newsItem */
/* @var bool $showDate */

?>

<div class="row">
    <div class="col-lg-12">
        <h1><?=$newsItem->getTitle();?></h1>
        <?if ($showDate):?>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                <span><?=$newsItem->getData('date_created');?></span>
            </p>
        <?endif;?>
        <div class="news-item"><?=$newsItem->getContent();?></div>
    </div>
</div>